.aboutPage {


    height: 85vh;
    background-color: #1ABC9C;
}

.star-icon::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100px;
    background-color: white;
    left: 32.5rem;
    top: .625rem;

}

.star-icon::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100px;
    background-color: white;
    left: 43.75rem;
    top: .625rem;

}